version: 2.1
commands:
  nococid-start-workflow-command:
    steps:
      - run:
          name: "Trigger start workflow to Nococid"
          command: curl -X POST "http://toan0701.ddns.net:9080/Nococid/api/Listeners/CircleCI/start-workflow?gh_username=${CIRCLE_PROJECT_USERNAME}&circle_workflow_id=${CIRCLE_WORKFLOW_ID}" --header "Content-Type:application/json" --data '{"ProjectId":"c4375691-16d9-47c3-91ab-08d92797a0c0","TotalJob":1,"StagesAndNames":[{"StageCode":5,"StageName":"Deploy to Azure"}]}'
  nococid-start-job-command:
    steps:
      - run:
          name: "Trigger start job to Nococid"
          command: curl -X POST "http://toan0701.ddns.net:9080/Nococid/api/Listeners/CircleCI/start-job?circle_workflow_id=${CIRCLE_WORKFLOW_ID}&stage=${CIRCLE_STAGE}&gh_username=${CIRCLE_PROJECT_USERNAME}" --header "Content-Type:application/json" --data ''
  nococid-end-job-command:
    steps:
      - run:
          when: always
          name: "Trigger end job to Nococid"
          command: curl -X POST "http://toan0701.ddns.net:9080/Nococid/api/Listeners/CircleCI/end-job?circle_workflow_id=${CIRCLE_WORKFLOW_ID}&circle_job_num=${CIRCLE_BUILD_NUM}&stage=${CIRCLE_STAGE}&deploy_project_name=project-management&gh_username=${CIRCLE_PROJECT_USERNAME}&gh_repository=${CIRCLE_PROJECT_REPONAME}&branch=${CIRCLE_BRANCH}" --header "Content-Type:application/json" --data ''
jobs:
  Deploy to Azure:
    machine:
      image: windows-server-2019-vs2019:stable
    resource_class: windows.medium
    steps:
    - nococid-start-job-command
    - checkout
    - run:
        name: "Publish Project"
        command: dotnet publish ./Manage_Projects_API/Manage_Projects_API.csproj -c Release -o app-publish --self-contained false
    - run:
        shell: powershell.exe -ExecutionPolicy Bypass
        name: "Deploy to Azure"
        command: |
            remove-item alias:\curl
            $deployment = $(curl -X GET "http://toan0701.ddns.net:9080/Nococid/api/Listeners/CircleCI/deployment?tool_name=Azure&project_id=c4375691-16d9-47c3-91ab-08d92797a0c0" --header "Accept:application/json")
            $json = ConvertFrom-Json $deployment
            $username = 'http://' + $json.psUsername
            $password = ConvertTo-SecureString $json.psPassword -AsPlainText -Force
            $creds = New-Object System.Management.Automation.PSCredential -ArgumentList ($username, $password)
            Connect-AzureRmAccount -Credential $creds -Tenant $json.deployment.tenant -ServicePrincipal
            try {
                Get-AzureRmWebApp -ResourceGroupName $json.deployment.resourceGroupName -Name "Stagging-project-management" -ErrorAction Stop
                Get-AzureRmWebAppPublishingProfile -OutputFile "C:\Users\circleci\project\publishprofile.xml" -Format WebDeploy -ResourceGroupName $json.deployment.resourceGroupName -Name "Stagging-project-management"
            } catch {
                New-AzureRmWebApp -ResourceGroupName $json.deployment.resourceGroupName -Name "Stagging-project-management" -AppServicePlan $json.deployment.appSerivcePlan
                Get-AzureRmWebAppPublishingProfile -OutputFile "C:\Users\circleci\project\publishprofile.xml\" -Format WebDeploy -ResourceGroupName $json.deployment.resourceGroupName -Name "Stagging-project-management"
            }
            Stop-AzureRmWebApp -ResourceGroupName $json.deployment.resourceGroupName -Name "Stagging-project-management"
            & "C:\Program Files (x86)\IIS\Microsoft Web Deploy V3\msdeploy.exe" @('-verb:sync', '-source:contentPath=C:\Users\circleci\project\app-publish', '-dest:contentPath=d:\home\site\wwwroot\,publishSettings=C:\Users\circleci\project\publishprofile.xml')
            Start-AzureRmWebApp -ResourceGroupName $json.deployment.resourceGroupName -Name "Stagging-project-management"
    - nococid-end-job-command
  nococid-start-workflow:
    machine:
      image: windows-server-2019-vs2019:stable
    resource_class: windows.medium
    steps:
    - nococid-start-workflow-command
workflows:
  version: 2.1
  workflow:
    jobs:
      - Deploy to Azure:
          requires:
            - nococid-start-workflow
      - nococid-start-workflow
